@model IEnumerable<NIDCWA.Models.UserBasicViewModel>
@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users List</h2>
<hr />
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink(" ", "Save", "User", null,
                new
                {
                    @class = "btn btn-primary btn-block glyphicon glyphicon-plus",
                    type = "button",
                    role = "button"
                })
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.username)
                    </th>
                    <th class="col-md-2 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Save", "User", new { id = item.ID }, null) | Remove
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
